<div ng-if="sprint" class="row">
    <div class="col-md-6">
        <h5>
            Show
            <select ng-model="issueType" ng-options="issue as issue.name for issue in project.issuetypes"></select>
            <select ng-model="issueState" ng-options="state as state.name for state in states"></select>
        </h5>
        <ul class="list-group">
            <li class="list-group-item"
                ng-repeat="issue in issues = (sprint.issuesData.issues |
                filter:(issueType.name != 'All') && { typeName : issueType.name||undefined } |
                filter:(issueState.name != 'All') && { statusName : issueState.name||undefined })">
                <span class="badge">{{issue.typeName}}</span>
                <span class="badge">{{issue.estimateStatistic.statFieldValue.value}}</span>
                {{issue.summary}}
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">
                Total number of points this sprint:
                <span class="pull-right">{{getTotal()}}</span>
            </li>
            <li class="list-group-item list-group-item-success">
                Number of points achieved:
                <span class="pull-right">{{getTotal('Closed')}}</span>
            </li>
            <li class="list-group-item list-group-item-danger">
                Number of points for next sprint:
                <span class="pull-right">{{getTotal() - getTotal('Closed')}}</span>
            </li>
        </ul>
        <table class="table">
            <tr>
                <td width="50%" class="danger">
                    <p>Estimation error:</p>
                    <h2>{{(getTotal() - getTotal('Closed'))/getTotal()*100|number:0}}%</h2>
                </td>
                <td width="50%">
                    <p>Estimation error goal:</p>
                    <h2><10%</h2>
                </td>
            </tr>
        </table>
        <h4>Sprint progress:</h4>
        <div class="progress">
            <progressbar animate="false" value="getTotal('Closed')/getTotal()*100" type="{{achievement}}">
                <b>{{getTotal('Closed')/getTotal()*100|number:0}}%</b>
            </progressbar>
        </div>
        <button ng-click="clap.paused ? clap.play() : clap.pause()" class="btn btn-success">Houraaay!</button>
    </div>
</div>

<div ng-if="!sprint">
    No active sprints were found.
</div>